ui           = true

api_addr     = "https://identity.{{ domain_name }}:8200"

log_level    = "{{ log_level }}"
log_format   = "json"

listener "tcp" {
  address            = "{{ ansible_host }}:8200"

  tls_cert_file      = "{{ vault_certs_dir }}/cert.pem"
  tls_key_file       = "{{ vault_certs_dir }}/key.pem"
  tls_client_ca_file = "{{ vault_client_ca_file }}"

  tls_min_version    = "tls12"
  tls_max_version    = "tls13"
  tls_cipher_suites  = "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256"
  tls_disable        = false
}

listener "tcp" {
  address     = "127.0.0.1:8200"
  tls_disable = true
}

storage "file" {
  path = "{{ vault_data_dir }}/"
}