# config file version
apiVersion: 1

deleteDatasources:
  - name: ClickHouse
  - name: InfluxDB_v2_Flux

datasources:
    - name: InfluxDB_v2_Flux
      type: influxdb
      access: proxy
      url: http://localhost:8086
      jsonData:
        version: Flux
        organization: openlab
        httpMode: POST
        tlsSkipVerify: true
        defaultBucket: vault_infra
      secureJsonData:
        token: {{ influxdb_token }}
      editable: true
      readOnly: false
      
    - name: ClickHouse
      type: grafana-clickhouse-datasource
      jsonData:
        defaultDatabase: vault
        port: 9000
        host: localhost
        username: default
        tlsSkipVerify: true