cluster_name                        = "{{ cluster_name }}"
ui                                  = true
disable_mlock                       = true
enable_response_header_hostname     = true
enable_response_header_raft_node_id = true
default_lease_ttl                   = "1h"
max_lease_ttl                       = "1d"

{% for peer in peers if peer == ansible_fqdn %}
cluster_addr = "https://{{ peer }}:8201"
api_addr     = "https://{{ peer }}"
{% endfor %}
log_level    = "{{ log_level }}"
log_format   = "json"

listener "tcp" {
  address            = "{{ ansible_fqdn }}:443"
  cluster_address    = "{{ ansible_fqdn }}:8201"

  tls_cert_file      = "{{ vault_certs_dir }}/cert.pem"
  tls_key_file       = "{{ vault_certs_dir }}/key.pem"
  tls_client_ca_file = "{{ vault_client_ca_file }}"

  tls_min_version    = "tls12"
  tls_max_version    = "tls13"
  tls_cipher_suites  = "TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256,TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384,TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256,TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256"
  tls_disable        = false
}

listener "tcp" {
  address     = "127.0.0.1:8200"
  tls_disable = true
}

seal "transit" {
  address            = "https://identity.{{ domain_name }}:8200"
  token              = "{{ lookup('ansible.builtin.env', 'VAULT_UNSEAL_TOKEN') }}"
  disable_renewal    = "false"

  key_name           = "autounseal"
  mount_path         = "transit/"

  tls_ca_cert        = "{{ vault_client_ca_file }}"
  tls_client_cert    = "{{ vault_certs_dir }}/cert.pem"
  tls_client_key     = "{{ vault_certs_dir }}/key.pem"
  tls_server_name    = "identity.{{ domain_name }}"
  tls_skip_verify    = "false"
}


storage "raft" {
  path = "{{ vault_data_dir }}/"
{% for peer in peers if peer == ansible_fqdn %}
  node_id = "{{ ansible_hostname }}"
{% endfor %}

{% for peer in peers %}
  retry_join {
    leader_api_addr = "https://{{ peer }}"
  }
{% endfor %}
}

telemetry {
  dogstatsd_addr            = "localhost:8125"
  enable_hostname_label     = true
  prometheus_retention_time = "0h"
}