<source>
  @type tcp
  tag s3.vault.auditlogs
  <parse>
    @type json
  </parse>
  bind 127.0.0.1
  port 9800
</source>

<filter s3.vault.auditlogs>
  @type record_transformer
  enable_ruby true
  <record>
    host "#{Socket.gethostname}"
    agent_timestamp ${Time.now.strftime('%Y-%m-%dT%H:%M:%S.%3NZ')}
    agent_offset ${time.strftime('%z')}
  </record>
</filter>

<match s3.vault.auditlogs>
  @type s3

  aws_key_id {{ aws_access_key_id }}
  aws_sec_key {{ aws_secret_access_key }}
  s3_bucket {{ vault_bucket }}
  s3_region {{ region }}
  path vault_audit_logs/

  <buffer>
    @type file
    path /var/log/fluent/s3
    time_key 3600 # 1 hour
    time_wait 10m
    chunk_limit_size 256m
  </buffer>

  time_slice_format %Y%m%d%H
</match>