[SERVICE]
    Flush 5
    Daemon Off
    Log_Level debug
    Parsers_File parsers.conf
    Plugins_File plugins.conf

[INPUT]
    Name            systemd
    Tag             ops_log
    Systemd_Filter  _SYSTEMD_UNIT=vault.service
    Read_From_Tail  On
    Lowercase On

[FILTER]
    Name        record_modifier
    Match       ops_log
    Remove_key   _transport
    Remove_key   _stream_id
    Remove_key   priority
    Remove_key   syslog_facility
    Remove_key   syslog_identifier
    Remove_key   _pid
    Remove_key   _uid
    Remove_key   _gid
    Remove_key   _comm
    Remove_key   _exe
    Remove_key   _cmdline
    Remove_key   _cap_effective
    Remove_key   _selinux_context
    Remove_key   _systemd_cgroup
    Remove_key   _systemd_unit
    Remove_key   _systemd_slice
    Remove_key   _systemd_invocation_id
    Remove_key   _boot_id
    Remove_key   _machine_id
    Remove_key   _runtime_scope
    Remove_key   _hostname

[FILTER]
    Name       parser
    Match      ops_log
    Key_name   message
    Parser     json

[FILTER]
    Name       record_modifier
    Match      ops_log
    Record hostname ${HOSTNAME}

[FILTER]
    Name modify
    Match ops_log
    Rename @level level
    Rename @message message
    Rename @module module
    Rename @timestamp timestamp

[FILTER]
    Name        nest
    Match       ops_log
    Operation   nest
    Wildcard    *
    Nest_under  message

[OUTPUT]
    name http
    tls on
    Match ops_log
    host clickhouse.{{ domain_name }}
    port 443
    URI /?query=INSERT+INTO+vault.operation+FORMAT+JSONEachRow
    format json_stream
    json_date_key timestamp
    json_date_format epoch
    http_user default