ZITADEL_DATABASE_POSTGRES_HOST=postgres.{{domain_name}}
ZITADEL_DATABASE_POSTGRES_PORT=5432 
ZITADEL_DATABASE_POSTGRES_DATABASE=zitadel2 
ZITADEL_DATABASE_POSTGRES_USER_USERNAME=zitadel2 
ZITADEL_DATABASE_POSTGRES_USER_PASSWORD=zitadel2 
ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE=disable
ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME=postgres 
ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD=postgres
ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE=disable
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_USERNAME="root"
ZITADEL_FIRSTINSTANCE_ORG_HUMAN_PASSWORD="RootPassword1!"
ZITADEL_EXTERNALDOMAIN=zitadel.{{domain_name}}
ZITADEL_PORT=443
ZITADEL_EXTERNALPORT=443
ZITADEL_EXTERNALSECURE=true
ZITADEL_TLS_KEYPATH={{ keys_dir }}/{{ inventory_hostname }}.key
ZITADEL_TLS_CERTPATH={{ certs_dir }}/{{ inventory_hostname }}.crt
ZITADEL_MASTERKEY="MasterkeyNeedsToHave32Characters"
ZITADEL_FIRSTINSTANCE_MACHINEKEYPATH=/opt/zitadel/zitadel-admin-sa.json
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINE_USERNAME=zitadel-admin-sa
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINE_NAME=Admin
ZITADEL_FIRSTINSTANCE_ORG_MACHINE_MACHINEKEY_TYPE=1